.about .title {
  margin-top: 25px;
}

.team-member {
  margin-top: 35px;
}

.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  list-style: none;
}

h2 {
  color: black;
}
.team-wrap {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
